@import url(//fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap);

body {
    background-color: aliceblue;
}

.header {
    background-image: url(//cdn.worldvectorlogo.com/logos/daily-news.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 5px solid black;
    min-height: 20vh;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header__time-now {
    cursor: default;
    margin: 0 20px;
    font-style: italic;
}

.main {
    padding: 20px;
}

.main__aside-block {
    height: 300px;
    position: fixed;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.main__aside-block > a {
    font-size: 30px;
}

.main__news-block {
    margin: auto;
    max-width: 1400px;
}

.main__news-list {

}

.main__news-item {
    margin-bottom: 5px;
}

.card {
    border: 1px solid black;
    border-radius: 25px;
}

.card-header {
    background-color: brown;
    border-top-left-radius: 25px!important;
    border-top-right-radius: 25px!important;
}

.card-header__title {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
}

.card-body {

}

.carousel-inner {
    height: 400px;
}

.carousel-item {
    height: 400px;
}

.carousel-item img {
    height: inherit;
    margin: auto;
}

.card__carousel .carousel-indicators {
    background: radial-gradient(circle, rgb(134, 134, 134) 30%, rgba(0,0,0,0) 80%);
    bottom: -46px;
    padding: 4px;
}

.card__carousel .carousel-control-next-icon,
.card__carousel .carousel-control-prev-icon {
    background-color: grey;
    padding: 100px 20px;
}

.card-footer {
    text-align: end;
}

.footer {

}

.footer__pagination-block {
    display: flex;
    justify-content: center;
}

.footer__pagination-item {
    font-size: 25px;
    padding: 5px;
}

.add-news-button {
    background-color: #0000005c;
    border: 2px solid white;
    border-radius: 50%;
    bottom: 0;
    color: white;
    height: 150px;
    margin: 20px;
    outline: none!important;
    position: fixed;
    right: 0;
    width: 150px;
}

.add-news-button:hover {
    background-color: black;
}
